        ../../.idea/
        ../../C language/helloworld.c
        ../../Coding.iml
        ../../Java/.idea/uiDesigner.xml
        ../../Java/AreaAndPreimeter.java
        ../../Java/Array.java
        ../../Java/Break.java
        ../../Java/ByteConvert.java
        ../../Java/ComplexAdd.java
        ../../Java/ConcentricCircle.class
        ../../Java/ConcentricCircle.java
        ../../Java/ConcentricCircles.class
        ../../Java/ConcentricCircles.java
        ../../Java/ConditionalOperator.java
        ../../Java/Constructors.java
        ../../Java/Continue.java
        ../../Java/CopyFile.java
        ../../Java/CopyingFile.java
        ../../Java/DisplayString.class
        ../../Java/DisplayString.java
        ../../Java/DoWhileLoop.class
        ../../Java/DoWhileLoop.java
        ../../Java/DynamicMethodDispatch.java
        ../../Java/Employee3.class
        ../../Java/ExceptionHandling.java
        ../../Java/ExceptionUntilTrue.java
        ../../Java/Exp3.java
        ../../Java/Exp4.java
        ../../Java/ExtendingExceptionClass.java
        ../../Java/Factorial.java
        ../../Java/FibonacciSeries.java
        ../../Java/FileHandling.java
        ../../Java/FirstApplet.class
        ../../Java/FirstApplet.html
        ../../Java/FirstApplet.java
        ../../Java/FirstClass.java
        ../../Java/ForEachLoop.java
        ../../Java/ForLoop.java
        ../../Java/Gross_Salary.class
        ../../Java/GuessTheNumber.java
        ../../Java/Inheritance.java
        ../../Java/InterfaceForStudRec.java
        ../../Java/Interfaces.java
        ../../Java/LibraryManagement.class
        ../../Java/LibraryManagement.java
        ../../Java/LogicalOperator.class
        ../../Java/LogicalOperator.java
        ../../Java/MehreenMP.java
        ../../Java/MethodOverloading.java
        ../../Java/MethodOverriding.java
        ../../Java/Methods.java
        ../../Java/Microproject/
        ../../Java/MoreShapes.class
        ../../Java/MoreShapes.java
        ../../Java/MultiDimensionalArray.java
        ../../Java/MultiThreadDemo.class
        ../../Java/MultiThreadDemo.java
        ../../Java/MultilevelInheritance.java
        ../../Java/MultipleInheritance.class
        ../../Java/MultipleInheritance.java
        ../../Java/MultithreadingDemo.class
        ../../Java/NestedTryCatch.java
        ../../Java/OddEvenThread.class
        ../../Java/OddEvenThread.java
        ../../Java/OddNumber.java
        ../../Java/Original.class
        ../../Java/Overriding.java
        ../../Java/PassCheck.class
        ../../Java/PasswordException.class
        ../../Java/Pattern.java
        ../../Java/PracticeSetEight.java
        ../../Java/PracticeSetFive.java
        ../../Java/PracticeSetFour.java
        ../../Java/PracticeSetNine.java
        ../../Java/PracticeSetSeven.java
        ../../Java/PracticeSetSix.java
        ../../Java/PracticeSetThree.java
        ../../Java/PrimeNum.java
        ../../Java/PrintPrime.java
        ../../Java/QuestionBank19.java
        ../../Java/QuestionBank20.java
        ../../Java/QuestionBank21.java
        ../../Java/Random.class
        ../../Java/Random.java
        ../../Java/RateOfInterestUsingOverriding.java
        ../../Java/RectangleUsingApplet.class
        ../../Java/RectangleUsingApplet.java
        ../../Java/Recursion.java
        ../../Java/Reverse.class
        ../../Java/ReverseStringUsingApplets.class
        ../../Java/ReverseStringUsingApplets.java
        ../../Java/RockPaperScissor.java
        ../../Java/RoomAreaUsingInheritance.java
        ../../Java/Salary.class
        ../../Java/Shapes.class
        ../../Java/Shapes.java
        ../../Java/SingleInheritance.java
        ../../Java/StringToInteger.java
        ../../Java/StringUsingBuffer.class
        ../../Java/StringUsingBuffer.java
        ../../Java/SumFromOneToTwenty.java
        ../../Java/SumOfDigits.java
        ../../Java/SwitchCase.java
        ../../Java/T1.class
        ../../Java/T2.class
        ../../Java/TakeInputUsingParam.class
        ../../Java/TakeInputUsingParam.java
        ../../Java/TakingInputFomTheUser.class
        ../../Java/TernaryOperator.java
        ../../Java/ThisKeyword.java
        ../../Java/Thread1.class
        ../../Java/Thread2.class
        ../../Java/ThreadOne.class
        ../../Java/ThreadPriority.class
        ../../Java/ThreadPriority.java
        ../../Java/ThreadTwo.class
        ../../Java/Threads.java
        ../../Java/TriangleInApplet.class
        ../../Java/TriangleInApplet.java
        ../../Java/TriangleUsingApplet.class
        ../../Java/TriangleUsingApplet.java
        ../../Java/TryCatch.java
        ../../Java/Typecasting.java
        ../../Java/VarArgs.java
        ../../Java/VectorClass.java
        ../../Java/Vowels.java
        ../../Java/WhileLoop.java
        ../../Java/WrapperForConversion.java
        ../../Java/WrapperMethods.java
        ../../Java/input.txt
        ../../Java/let_me_calculate/
        ../../Java/newText.txt
        ../../Java/oneToTwentyThread.class
        ../../Java/oneToTwentyThread.java
        ../../Java/out/production/Coding/.idea/uiDesigner.xml
        ../../Java/out/production/Coding/A.class
        ../../Java/out/production/Coding/AreaAndPreimeter.class
        ../../Java/out/production/Coding/AreaVolume.class
        ../../Java/out/production/Coding/Array.class
        ../../Java/out/production/Coding/Axis.class
        ../../Java/out/production/Coding/B.class
        ../../Java/out/production/Coding/Base.class
        ../../Java/out/production/Coding/Break.class
        ../../Java/out/production/Coding/ByteConvert.class
        ../../Java/out/production/Coding/CalculateArea.class
        ../../Java/out/production/Coding/Circle.class
        ../../Java/out/production/Coding/Complex.class
        ../../Java/out/production/Coding/ComplexAdd.class
        ../../Java/out/production/Coding/ConcentricCircle.class
        ../../Java/out/production/Coding/ConcentricCircles.class
        ../../Java/out/production/Coding/ConditionalOperator.class
        ../../Java/out/production/Coding/Constructors.class
        ../../Java/out/production/Coding/Continue.class
        ../../Java/out/production/Coding/CopyFile.class
        ../../Java/out/production/Coding/CopyingFile.class
        ../../Java/out/production/Coding/Cylinder.class
        ../../Java/out/production/Coding/Cylinder1.class
        ../../Java/out/production/Coding/Demo.class
        ../../Java/out/production/Coding/Derived.class
        ../../Java/out/production/Coding/DisplayString.class
        ../../Java/out/production/Coding/DoWhileLoop.class
        ../../Java/out/production/Coding/DynamicMethodDispatch.class
        ../../Java/out/production/Coding/Employee.class
        ../../Java/out/production/Coding/Employee1.class
        ../../Java/out/production/Coding/Employee2.class
        ../../Java/out/production/Coding/Employee3.class
        ../../Java/out/production/Coding/Exam.class
        ../../Java/out/production/Coding/ExceptionHandling.class
        ../../Java/out/production/Coding/ExceptionUntilTrue.class
        ../../Java/out/production/Coding/Exp3.class
        ../../Java/out/production/Coding/Exp4.class
        ../../Java/out/production/Coding/ExtendingExceptionClass.class
        ../../Java/out/production/Coding/Factorial.class
        ../../Java/out/production/Coding/FibonacciSeries.class
        ../../Java/out/production/Coding/FileHandling.class
        ../../Java/out/production/Coding/FirstApplet.class
        ../../Java/out/production/Coding/FirstApplet.html
        ../../Java/out/production/Coding/FirstClass.class
        ../../Java/out/production/Coding/ForEachLoop.class
        ../../Java/out/production/Coding/ForLoop.class
        ../../Java/out/production/Coding/Game.class
        ../../Java/out/production/Coding/Gross_Salary.class
        ../../Java/out/production/Coding/GuessTheNumber.class
        ../../Java/out/production/Coding/Inheritance.class
        ../../Java/out/production/Coding/InterfaceForStudRec.class
        ../../Java/out/production/Coding/Interfaces.class
        ../../Java/out/production/Coding/LibraryManagement.class
        ../../Java/out/production/Coding/LogicalOperator.class
        ../../Java/out/production/Coding/MaxAgeException.class
        ../../Java/out/production/Coding/MehreenMP.class
        ../../Java/out/production/Coding/MethodOverloading.class
        ../../Java/out/production/Coding/MethodOverriding.class
        ../../Java/out/production/Coding/Methods.class
        ../../Java/out/production/Coding/Microproject/
        ../../Java/out/production/Coding/MoreShapes.class
        ../../Java/out/production/Coding/MultiDimensionalArray.class
        ../../Java/out/production/Coding/MultiThreadDemo.class
        ../../Java/out/production/Coding/MultilevelInheritance.class
        ../../Java/out/production/Coding/MultipleInheritance.class
        ../../Java/out/production/Coding/MultithreadingDemo.class
        ../../Java/out/production/Coding/MyException.class
        ../../Java/out/production/Coding/NestedTryCatch.class
        ../../Java/out/production/Coding/OddEvenThread.class
        ../../Java/out/production/Coding/OddNumber.class
        ../../Java/out/production/Coding/Original.class
        ../../Java/out/production/Coding/Overriding.class
        ../../Java/out/production/Coding/PasswordCheckException.class
        ../../Java/out/production/Coding/Pattern.class
        ../../Java/out/production/Coding/Phone.class
        ../../Java/out/production/Coding/PracticeSetEight.class
        ../../Java/out/production/Coding/PracticeSetFive.class
        ../../Java/out/production/Coding/PracticeSetFour.class
        ../../Java/out/production/Coding/PracticeSetNine.class
        ../../Java/out/production/Coding/PracticeSetSeven.class
        ../../Java/out/production/Coding/PracticeSetSix.class
        ../../Java/out/production/Coding/PracticeSetThree.class
        ../../Java/out/production/Coding/PrimeNum.class
        ../../Java/out/production/Coding/PrintPrime.class
        ../../Java/out/production/Coding/QuestionBank19.class
        ../../Java/out/production/Coding/QuestionBank20.class
        ../../Java/out/production/Coding/QuestionBank21.class
        ../../Java/out/production/Coding/RBI.class
        ../../Java/out/production/Coding/Random.class
        ../../Java/out/production/Coding/RateOfInterestUsingOverriding.class
        ../../Java/out/production/Coding/RectangleUsingApplet.class
        ../../Java/out/production/Coding/Recursion.class
        ../../Java/out/production/Coding/Result.class
        ../../Java/out/production/Coding/Result2.class
        ../../Java/out/production/Coding/Results.class
        ../../Java/out/production/Coding/Reverse.class
        ../../Java/out/production/Coding/ReverseStringUsingApplets.class
        ../../Java/out/production/Coding/RockPaperScissor.class
        ../../Java/out/production/Coding/RoomAV.class
        ../../Java/out/production/Coding/RoomAreaUsingInheritance.class
        ../../Java/out/production/Coding/Salary.class
        ../../Java/out/production/Coding/Shapes.class
        ../../Java/out/production/Coding/SingleInheritance.class
        ../../Java/out/production/Coding/SmartPhone.class
        ../../Java/out/production/Coding/Sphere.class
        ../../Java/out/production/Coding/Sports.class
        ../../Java/out/production/Coding/Square.class
        ../../Java/out/production/Coding/StringToInteger.class
        ../../Java/out/production/Coding/StringUsingBuffer.class
        ../../Java/out/production/Coding/Student.class
        ../../Java/out/production/Coding/Student1.class
        ../../Java/out/production/Coding/Student2.class
        ../../Java/out/production/Coding/Students.class
        ../../Java/out/production/Coding/Sub.class
        ../../Java/out/production/Coding/SumFromOneToTwenty.class
        ../../Java/out/production/Coding/SumOfDigits.class
        ../../Java/out/production/Coding/Super.class
        ../../Java/out/production/Coding/SwitchCase.class
        ../../Java/out/production/Coding/T1.class
        ../../Java/out/production/Coding/T2.class
        ../../Java/out/production/Coding/TakeInputUsingParam.class
        ../../Java/out/production/Coding/TernaryOperator.class
        ../../Java/out/production/Coding/Test.class
        ../../Java/out/production/Coding/Test1.class
        ../../Java/out/production/Coding/Test2.class
        ../../Java/out/production/Coding/ThisKeyword.class
        ../../Java/out/production/Coding/Thread1.class
        ../../Java/out/production/Coding/Thread2.class
        ../../Java/out/production/Coding/ThreadOne.class
        ../../Java/out/production/Coding/ThreadPriority.class
        ../../Java/out/production/Coding/ThreadTwo.class
        ../../Java/out/production/Coding/Threads.class
        ../../Java/out/production/Coding/TriangleInApplet.class
        ../../Java/out/production/Coding/TriangleUsingApplet.class
        ../../Java/out/production/Coding/TryCatch.class
        ../../Java/out/production/Coding/Typecasting.class
        ../../Java/out/production/Coding/VectorClass.class
        ../../Java/out/production/Coding/Vowels.class
        ../../Java/out/production/Coding/WhileLoop.class
        ../../Java/out/production/Coding/WrapperForConversion.class
        ../../Java/out/production/Coding/WrapperMethods.class
        ../../Java/out/production/Coding/X.class
        ../../Java/out/production/Coding/Y.class
        ../../Java/out/production/Coding/book.class
        ../../Java/out/production/Coding/input.txt
        ../../Java/out/production/Coding/let_me_calculate/
        ../../Java/out/production/Coding/newText.txt
        ../../Java/out/production/Coding/oneToTwentyThread.class
        ../../Java/out/production/Coding/output.txt
        ../../Java/out/production/Coding/rectangle/
        ../../Java/output.txt
        ../../Java/rectangle/
        ../../JavaExps/
        ../../Js projects/Random/
        ../../Js projects/Small Projects/Images/10.png
        ../../Js projects/Small Projects/Images/2.png
        ../../Js projects/Small Projects/Images/3.png
        ../../Js projects/Small Projects/Images/4.png
        ../../Js projects/Small Projects/Images/5.png
        ../../Js projects/Small Projects/Images/6.png
        ../../Js projects/Small Projects/Images/7.png
        ../../Js projects/Small Projects/Images/8.png
        ../../Js projects/Small Projects/Images/9.png
        ../../Js projects/Small Projects/Images/A.png
        ../../Js projects/Small Projects/Images/BlackJackBg.jpg
        ../../Js projects/Small Projects/Images/J.png
        ../../Js projects/Small Projects/Images/K.png
        ../../Js projects/Small Projects/Images/Q.png
        ../../Js projects/Small Projects/sounds/
        ../../MicroProject [Java]/
        ../../Php/
        ../../React/
        ../99hectors/
        ./
        ../WearIndia[Dummy]/
        ../WhatsApp Image 2022-04-02 at 13.48.09.jpeg
        ../localhost-cosmeticamaze2-wordpress-5.8.1-wordpress-20210912-080205-rgk9vh.zip
        ../../hover button/Coding - Shortcut.lnk
        ../../out/
        ../../../Hackathon/
        ../../../Work/
